---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>



<div id="map" class="border p-5 min-h-screen w-full bg-gray-300"></div>
<script is:inline type="text/javascript">
	mapboxgl.accessToken = 'pk.eyJ1IjoiYnJhZG1pbGxzMjQiLCJhIjoiY2xxb2FranR6Mm1iNzJpbzBuend0NG5jaiJ9.vji3bQ-4cBRDgDokwmM3kg';

  const features = [
    {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.0298, 37.3320]
        },
        "properties": {
            "title": "Apple Park Visitor Center"
        }
    },
    {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.0413, 37.3408]
        },
        "properties": {
            "title": "Fremont Older Open Space Preserve"
        }
    },
    {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.0365, 37.3457]
        },
        "properties": {
            "title": "Vallco Shopping Mall"
        }
    },
    {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.0552, 37.3233]
        },
        "properties": {
            "title": "Serra Park"
        }
    },
    {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.0491, 37.3380]
        },
        "properties": {
            "title": "McClellan Ranch Preserve"
        }
    },
    {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.0282, 37.3524]
        },
        "properties": {
            "title": "Saratoga Creek Park"
        }
    },
    {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.0514, 37.3457]
        },
        "properties": {
            "title": "Pruneridge Golf Club"
        }
    },
    {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.0326, 37.3261]
        },
        "properties": {
            "title": "Cupertino Sports Center"
        }
    },
    {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.0541, 37.3111]
        },
        "properties": {
            "title": "Fremont Park"
        }
    },
    {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [-122.0361, 37.3147]
        },
        "properties": {
            "title": "Stevens Creek County Park"
        }
    }
];

    const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12',
        center: features[0].geometry?.coordinates,
        zoom: 9
    });
    
let bounds1 = [];
features.forEach((p) => {
  bounds1.push(p?.geometry?.coordinates)
});

let bounds = bounds1.reduce(function(bounds, coord) {
  return bounds.extend(coord);
}, new mapboxgl.LngLatBounds(bounds1[0], bounds1[0]));

console.log({bounds})
    map.on('load', () => {
        // Add an image to use as a custom marker
        map.loadImage(
            'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
            (error, image) => {
                if (error) throw error;
                map.addImage('custom-marker', image);
                // Add a GeoJSON source with 2 points
                map.addSource('points', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        features
                    }
                });

                
                // Add a symbol layer
                map.addLayer({
                    'id': 'points',
                    'type': 'symbol',
                    'source': 'points',
                    'layout': {
                        'icon-image': 'custom-marker',
                        // get the title name from the source's "title" property
                        'text-field': ['get', 'title'],
                        'text-font': [
                            'Open Sans Semibold',
                            'Arial Unicode MS Bold'
                        ],
                        'text-offset': [0, 1.25],
                        'text-anchor': 'top'
                    }
                });

                setTimeout(() => map.fitBounds(bounds, {padding: 30}), 1000)
            }
        );
    });
</script>

</Layout>
